*{box-sizing: border-box;}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;  
  font-family: "Special Elite", cursive;
  text-align: center;
}

div{
   height: 100%;
  width: 50%; 
}

#leftside{
  background-color: gold;
  float: left;
  color: DarkSlateGray;
}

#rightside{
  background-color: teal;
  overflow: auto;
  color: Ivory; 
}

h1.lefttxt{
  width: 60%;
  margin: 7em auto;
  padding: 1em;
  display: inline-block; 
  border: blue solid 2px; 
}
h1.righttxt{
  width: 60%;
  margin: 7em auto;
  padding: 1em;
  display: inline-block; 
  border: red solid 2px;
  color: red;
}